.rootTestComponent {
  background-color: var(--bg-color, gray);
  color: var(--color);
  cursor: var(cursor);

  padding: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  transition: background 0.3s ease;

  /* filter: brightness(var(--bright)); default value is optional */
  filter: brightness(var(--bright, 0.9));

  strong {
    color: gray;
  }
}

.rootTestComponent:hover {
  /* 
    Here's the trick: var(--name, default-value)
    If you don't send anything from React, it will use 'default'.
  */
  strong {
    color: var(--color);
  }
  cursor: var(--cursor);
}

@media (max-width: 768px) {
  .rootTestComponent {
    padding: 2rem;
    flex-direction: column;
  }
}
