.containerTasksManager {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  table {
    tr {
      .tdCompletedTM {
        display: table-cell;
        justify-items: center;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          text-align: center;
          border-radius: 1rem;
          height: 2rem;
          min-width: 100px;
          max-width: 100px;
        }
        span:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
